<div class="home-background" [style.backgroundImage]="'url(' + backgroundImageUrl + ')'" >
  <div class="home-container">
    <h1>Travel Planner</h1>
    <h2>Please log in to set city and dates.</h2>
    <div class="centered-content">
      <div class="input-container">
        <mat-form-field class="full-width">
          <input
            type="text"
            placeholder="Search City"
            matInput
            [formControl]="cityControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
              {{ city }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
  
      <div class="date-picker-container">
        <mat-form-field class="input-container">
          <input
            matInput
            [matDatepicker]="startPicker"
            placeholder="Start Date"
            [formControl]="startDateControl"
          />
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="input-container">
          <input
            matInput
            [matDatepicker]="endPicker"
            placeholder="End Date"
            [formControl]="endDateControl"
          />
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <button mat-raised-button class="set-button" (click)="setCityAndDates()" *ngIf="user">Set City and Dates</button>
      <div *ngIf="!user">
        <div id="g_id_onload" data-client_id="YOUR_GOOGLE_CLIENT_ID" data-context="use" data-ux_mode="popup"></div>
        <button mat-raised-button color="warn" (click)="signOut()">Log Out</button>
      </div>
    </div>
  </div>
</div>
<a href="http://www.freepik.com">Designed by Freepik</a>
